/* car.css */
.hide {
    display: none;
}

.car  {
    position: absolute;
    bottom: 100px;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    height: 75px;
    /* background-color: rgb(0, 34, 255); */
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    background-image: url(fff.png);
    background-size:cover; 
    background-position: center;  
} 
.enemy {
    position: absolute;
    bottom: 100px;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 75px;
    /* background-color: rgb(0, 34, 255); */
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    background-image: url(car2.png);
    background-size:cover; 
    background-position: center;  
} 
.score{
    background-color: black;
    height: 80px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size:  1.5em;
}
.line{
    position: absolute;
    height: 100px;
    width: 10px;
    margin-left: 174px;
    background-color: rgb(255, 255, 255);
}
   
.gameArea{
    background-color: black;
    width: 350px; 
    height: 100%;
    overflow: hidden;
    position: absolute;
    margin: auto;
    left : 585px;
}
.startScreen{
    position: absolute;
    background-color:red ;
    left: 40%;
    top: 100px;
    color: white;
    z-index: 1 ;
    text-align: center;
    border: 1px solid red;
    padding: 15px;
    margin: auto;
    width: 18%;
}

